body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  color: #000000;
  background-color: #ffffff;
}

.inner-page main {
  font-family: "PT Sans", 'Times New Roman',  serif;
}

 a {
  text-decoration: none;
}


/* Стили шапки */

.main-header {
  min-height: 320px;
  background-color: #f3f7f8;
}

.site-menu-wrapper {
  background-color: #293449;
 /* width: auto;*/
  height: 42px;
}

.site-menu {
  display: flex;
  width: 940px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background-color: #293449;
}

.site-menu a {
  color: #ffffff;
  line-height: 18px;
}

.site-logo {
  background-color:  #ee3643;
}

.site-logo img {
 /* display: block;*/
  width: 220px;
  height: 42px;
}

.main-header h1 {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.address a {
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.address p {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
  list-style: none;
}

.user-navigation a {
  text-align: center;
}

.lol {
  display:flex;
  width: 940px;
  margin: 0 auto;
  min-height: 200px;
  justify-content: space-around;
  align-items: center;
}

.main-navigation {
  margin: 0 auto;
  padding: 0px;
  width: 940px;
  min-height: 60px;

  background-color: #32425c;
  color: #ffffff;
}

.site-navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin: 0;
  padding: 0;
  list-style: none;
}

/*.site-navigation li {
  margin: 22px auto 24px
}*/

.site-navigation a {
  display: block;
  color: #ffffff;
  padding: 10px 20px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}


/* Стили основной части контента */
.items-container {
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.item {
  flex-basis: 300px;
  min-height: 123px;
  color: #ffffff;
}

.item-1 {
  background-color: #ffbf47;
}

.item-2 {
  background-color: #3bbce3;
}

.item-3 {
  background-color: #dc91d8;
}

.item-4 {
  background-color: #8ed78f;
}

.item-5 {
  background-color: #ffbf47;
}

.item-6 {
  background-color: #ffc047;
}


.item p {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.item a {
  font-size: 14px;
  line-height: 17.5px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
}


.item a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

/*.slider-items {
  min-height: 266px;
  width: 620px;
}*/

.first-item {
  background-image: url("../img/slider-1.jpg");
  background-repeat: no-repeat;
  min-height: 266px;
  width: 620px;
}

.second-item {
  background-image: url("../img/slider-2.jpg");
  background-repeat: no-repeat;
  min-height: 266px;
  width: 620px;
}


.slider-items .text-upper {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.slider-items .text-lower {
  font-family: PT Sans;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #ffffff;
}

 /*----------Стилизация кнопок----------*/

.button {
  display: inline-block;
  background-color: #ee3643;
  font-size: 14px;
  line-height: 17.5px;
  color: #ffffff;
  text-transform: uppercase;
  height: 38px;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}


/*----------Стилизация <section class="popular-items"> в <main>----------*/

.page-main {
  width: 940px;
  margin: 0 auto;
}

.catalog-popular {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f5f0;
}

.catalog-popular h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  font-weight: normal;
}

.popular-list {
  margin: 20px auto;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.product {
  border: 1px solid black;
  flex-basis: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product h3 {
  font-family: PT Sans;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.discount {
  text-decoration: line-through;
  font-family: PT Sans;
  font-weight: bold;
  font-size: 17.5px;
  line-height: 17.5px;
  color: #a9a9a9;
}

.product span {
  color: #ffffff;
  background-color: #ee3643;
  font-family: PT Sans;
  font-weight: bold;
  font-size: 17.5px;
  line-height: 17.5px;
}

 /* Стилизация секции с популярными производителями в <main> */

.catalog-manufacturers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  background-color: #f9f5f0;
}

.catalog-manufacturers h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  font-weight: normal;
}

.manufacturers-list {
  margin: 0px auto;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.manufacturers-list li {
  flex-basis: 220px;
  height: 145px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
  list-style: none;
}

.manufacturers-list li:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers-list li:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers-list li a:active {
  opacity: 0.3;
}


 /* Стилизация секции с сервисами в <main> */

.services {
  background-color: #f4f7f9;
}

.services h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.services-container p {
  font-family: PT Sans;
  color: #000000;
  font-size: 13px;
  line-height: 24px;
}

.changing-list li {
  list-style: none;
  background-color: #33445a;
  color: #ffffff;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
}

.changing-list li:hover {
  background-color: #293449;
}


/* Стилизация <div class="container-columns"> в <main> */

.container-columns h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.about p,
.contacts p {
  font-family: PT Sans;
  font-size: 13px;
  line-height: 24px;
}

.about-list {
  font-size: 18px;
  line-height: 20px;
}


/* Стилизация футера */

 /*----------Стилизация <section class="footer-menu"> в футере----------*/

.footer-menu {
  background-color: #32425c;
}

.footer-top-container {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding: 0px;
}
.footer-list-top {
  display: flex;
  list-style: none;
}

.footer-list-top a {
  color: #f3f7f9;
  line-height: 24px;
  font-size: 18px;
}

.feedback a:hover,
.developer a:hover,
.footer-list-top a:hover,
.footer-list-bottom a:hover {
  text-decoration: underline;
}

.footer-list-top a:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-middle-container {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 0px;
  justify-content: space-between;
}

.footer-contacts {
  color: #f3f7f9;
  line-height: 24px;
  font-size: 18px;
}

.footer-contacts a {
  color: #f3f7f9;
  font-size: 18px;
}

.footer-list-bottom {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.footer-list-bottom a:active {
  color: rgba(255, 209, 128, 0.5);
}




.footer-list-bottom a {
  color: #ffd180;
  line-height: 24px;
  font-size: 18px;
}


 /*----------Стилизация <section class="footer-social"> в футере----------*/

.footer-social {
  background-color: #293449;
  margin: 0px;
  padding: 0px;
}

.footer-social-container {
  width: 940px;
  margin: 0px auto;
  padding: 0px;
}

.footer-social-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 940px;
}

.social-buttons {
  display: flex;

  list-style: none;
}

.copyright {
  margin: 0px;
  padding: 0px;
  width: 227px;
  color: #ffffff;
  line-height: 18px;
  font-size: 16px;
}

.feedback {
  flex-basis: 135px;
}

.developer {
  flex-basis: 96px;
}

.feedback p,
.developer p {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.feedback a,
.developer a {
  color: #ffd180;
  font-size: 16px;
  line-height: 18px;
}

.feedback a:active,
.developer a:active {
  color: #ee3643;
}





/* Стилизация <div class="breadcrumbs-container"> в <main> */

.breadcrumbs {
  list-style: none;
  font-size: 14px;
  line-height: 17.5px;
  text-transform: uppercase;
}

.caption {
  background-color: #f2f6f8;
}

.caption h2 {
  font-family: "Cuprum";
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}


/* Стилизация секции с фильтрами в <main> */

.filters form {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filters legend {
  font-size: 17.5px;
  line-height: 31.5px;
  font-weight: bold;
}

.filters button {
  font-size: 14px;
  line-height: 17.5px;
  text-transform: uppercase;
}

.main-catalog h3 {
  background-color: #f7f3ec;
  font-weight: normal;
  font-size: 14px;
  line-height: 17.5px;
  text-transform: uppercase;
}

.filter-item legend {
  font-size: 17.5px;
  line-height: 31.5px;
  font-weight: bold;
  text-transform: uppercase;
}

.sorting ul{
  list-style: none;
}

/* Стилизация секции с каталогом в <main> */

.catalog-item .product-name{
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.catalog-item .strike {
  color: #999999;
  text-decoration: line-through;
  font-size: 17.5px;
  line-height: 17.5px;
  font-weight: bold;
}

.catalog-item .price {
  background-color: #ee3643;
  font-size: 17.5px;
  line-height: 17.5px;
  color: #ffffff;
}

.pagination-list {
  list-style: none;
}

.pagination-item {
  font-size: 14px;
  line-height: 17.5px;
  text-transform: uppercase;
}

.pagination-item a {
  text-decoration: none;
}
.pagination-item.pagination-item-current {
  background-color: #ee3643;
}


/* Стилизация блока под каталогом в <main> */

.brief-information {
  background-color: #f2f6f8;
}

.brief-information h2 {
  font-family: Cuprum;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.brief-information p {
  font-size: 13px;
  line-height: 24px;
}

